.root {
  border:var(--border);
  display: flex;
  flex-direction:row;
  justify-content:left;
  align-items: center;
}
.link {
  color: #8d98aa;
  font-size:0.875rem;
  fill: #8d98aa;
  text-decoration: none;
}
.link:hover {
  color: #8d98aa;
  font-size:0.875rem;
}
.text {
  font-size:0.875rem;
  font-weight: normal;
}
.textSeparator {
  display: inline-block;
  margin: 0 0.25rem 0 0.25rem;
}
.icon{
  margin-right: 1.125rem;
  width:1.5625rem;
}
