.table {
  border-collapse: collapse;
  width: 66.875rem;
}
.table > tbody > tr > td, .table > thead > tr > th {
  padding-left: 1rem;
  text-align: left;
  width: 21rem !important;
}
.tbody tr:nth-child(odd) {
  background-color: var(--color-drawer);
}
.th-level {
  padding: 0.9375rem 1rem;
  text-align: center !important;
  width: 21rem;
}
.td-level {
  padding: 0.9375rem 1rem;
  text-align: center !important;
  width: 21rem;
}