.drawer {
  background-color: var(--color-drawer);
  border-right: none;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(72, 122, 157, 0.3);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  outline: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 14.5rem;
  z-index: 1200;
}
.icon {
  width: 1.5rem;
}
.icon-logout {
  width: 0.625rem;
}
.menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  padding-left: 1.5rem;
  width: 14.5rem;
}
.menu-active {
  align-items: center;
  border-left: 0.125rem solid var(--color-primary);
  display: flex;
  height: 2.5rem;
  padding-left: 1.375rem;
}
.menu:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.menu-item {
  font-size: 1rem;
  margin-left: 1rem;
}
.menu-item-active {
  color: var(--color-primary);
  font-size: 1rem;
  margin-left: 1rem;
}
.menu-logout {
  margin-left: 1rem;
}
.product-logo {
  margin: 2rem 0 1rem 1.5rem;
  width: 7.25rem;
}
.product-name {
  margin: 0 0 2.5rem 1.5rem;
}
.url {
  text-decoration: none;
}
.url-logout {
  bottom: 0;
  left: 0;
  position: absolute;
}