.main {
  border-bottom: 0.0625rem solid #1e2025;
}
.tab-content {
  color: #1e2025 !important;
  min-height: 1.875rem !important;
  min-width: 6.25rem !important;
  padding: 0 !important;
  text-transform: none !important;
}
.tab-content:focus {
  color: #289f97;
}
.tab-header {
  height: 2rem !important;
  min-height: 0.125rem !important;
  padding: 0 1.5rem;
}
.tab-indicator {
  width: 6.25rem !important;
  height: 0.1875rem !important;
}
.tab-label {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
.tab-selected {
  color: #289f97 !important;
}