.icon-component {
  float: right;
  height: 0.75rem;
  margin: 0.125rem 0.5rem;
  pointer-events: none;
  width: 0.75rem;
}
.select {
  background-color: var(--color-white);
  border-radius: 0.25rem;
  color: var(--color-black);
  font-size: 1rem;
  float: right;
  height: 2rem;
  margin: 0 1rem 1.5rem 0;
  padding: 0;
  text-align: left;
}
::-webkit-scrollbar {
  width: 0.875rem;
  border-radius: 1rem;
}
::-webkit-scrollbar-track {
  background: #fafafa;
  width: 0.875rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-light-grey);  
  border: 0.1875rem solid #fafafa;
  border-radius: 1rem;
}

