::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}
.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6875rem;
}
.input {
  position: absolute;
  right: 2rem;
}
.input img {
  font-size: 1rem;
  left: 0.5rem;
  position: absolute;
  top: 0.5rem;
  width: 1rem;
}
.input-search {
  padding-left: 2.5rem;
  background-color: var(--color-white);
  border: solid 0.0625rem #707a89;
  border-radius: 0.375rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  height: 2rem;
  width: 15.625rem;
}
.product-filter {
  padding-top: 1.5rem;
}